@if (Session["LogedUsername"] != null)
{
    <text>
        Labas, @Html.ActionLink(Session["LogedUsername"].ToString(), "Manage", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "User", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Atsijungti</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Registruotis", "Register", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Prisijungti", "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            
    </ul>
}
