@{
    ViewBag.Title = "Žinutės";
}

@model IISProjektas.Models.MessageUsersListModel

@if (Model.MessagesRecipients.Count == 0)
{
    <h2>Aktyvių susirašinėjimų nėra</h2>
}


@foreach (var item in Model.MessagesRecipients)
{
    if (item.isNew)
    {
        <div class="Messaging-with-person red-wrap">
            @Html.ActionLink("Susirašinėjimas su vartotoju: " + @Html.DisplayFor(x => item.receiver), "PrivateMessage", "Home", new { id = item.Id }, null)
        </div>
    }
    else
    {
        <div class="Messaging-with-person">
            @Html.ActionLink("Susirašinėjimas su vartotoju: " + @Html.DisplayFor(x => item.receiver), "PrivateMessage", "Home", new { id = item.Id }, null)
        </div>
    }

}


<script type="text/javascript">
    
</script>