@{
    ViewBag.Title = "Mano skelbimai";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

@if(Request.Cookies["AdCreated"] != null)
{
    
    
    
    if(Request.Cookies["AdCreated"].Value == "1")
    { 
    <h3>
        Naujas skelbimas sėkmingai sukurtas
       
    </h3>
    }
    if(Request.Cookies["AdCreated"].Value == "2")
    {
        <h3>
            Kuriant skelbima įvyko klaida, bandyke dar kartą

        </h3>
    }

}

<span class="Back_button">
@Html.ActionLink("Sukurti naują skelbimą", "Create")

</span>






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
